[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
gbulb = "*"
sanic = "*"
websockets = "*"
pillow = "*"
pygobject = "*"
vext = "*"
psutil = "*"
gobject = "*"

[dev-packages]
pytest = "*"
requests = "*"

[requires]
python_version = "3"
